@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300;500&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');
@import url(./reset.css);
:root{
    --text: rgb(241, 238, 233);
    --background : #264653;
    --foreground : #2A9D8F;
    --accent: #E76F51;
    --text-light: #E9C46A;
    --text-dark: #F4A261;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(120deg, #0F2027, #203A43,#2C5364);	display: flex;
	background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
    font-family: 'Montserrat', sans-serif ;
}
h1{
    color: var(--text-dark);
    margin-bottom: 2rem;
}

form{
    background: rgb(243, 249, 204);
    display: flex;
    flex-direction:row;
    align-items: center;
    input, button{
        appearance: none;
        border: none;
        outline: none;
    padding: 0.5rem;
    justify-content: space-around;
    font-size: 1.5rem;
    background: rgb(243, 249, 204);
    transition: all 0.3s ease;
}

    button{
        color:#203A43;
        background: white;
        cursor: pointer;
        transition: all 0.3s ease ;
    }
    button:hover{
        color: rgb(243, 249, 204);
        background: #203A43;
    }
    select{
        appearance: none;
        border: none;
        outline: none;
        background: rgb(243, 249, 204);
        text-align: center;
        font-size: 1.5rem;
        cursor: pointer;
        overflow: hidden;
    }


}
.task-list{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.todo{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border:red 1px solid;

    background: rgb(243, 249, 204);
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: rgb(243, 249, 204);
    transition: all 0.7s ease ;

    li{
        list-style-type: none;
    }
}
.done-button{
    background:none ;
    color:#3cf166;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    height: 100%;
    color:#203A43;
    transition: all 0.3s ease ;
    &:hover{
        background: #3cf166;
        color:#1f3941;
    }
}
.edit-button{
    background:none ;
    color:#fb4b4b;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    height: 100%;
    color:#203A43;
    transition: all 0.3s ease ;
    &:hover{
        background: #fb4b4b;
        color:#1f3941;
    }
}
.fa-solid{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 50%;
}
.deleteAnimation{
    opacity: 0;
    transform: translateY(8rem) rotateZ(20deg);

}
.hide{
    opacity: 30%;
}