@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300;500&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');
@import url(./reset.css);
:root{
    --text: rgb(241, 238, 233);
    --background : #264653;
    --foreground : #2A9D8F;
    --accent: #E76F51;
    --text-light: #E9C46A;
    --text-dark: #F4A261;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(120deg, #0F2027, #203A43,#2C5364);	display: flex;
	background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
    font-family: 'Montserrat', sans-serif ;
}
h1{
    color: var(--text-dark);
    margin-bottom: 2rem;
}

form{
    background: rgb(243, 249, 204);
    input, button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: rgb(243, 249, 204);
    transition: all 0.3s ease;

}

    button{
        color:#203A43;
        background: white;
        cursor: pointer;
        transition: all 0.3s ease ;
    }
    button:hover{
        color: rgb(243, 249, 204);
        background: #203A43;
    }
}
